.timeline-section-mobile {
  width: 100%;
  height: 35vh;
  position: relative;
}

.timeline-section-desktop {
  width: 100%;
  height: 14rem;
  position: relative;
}

.timeline-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(75%) brightness(40%) hue-rotate(20deg) saturate(200%);
}

.dates {
  position: absolute;
  top: 4rem;
  left: 16%;
  z-index: 100;
  text-align: center;

  color: sandybrown;
  font-size: 1.5rem;
}

.company {
  position: absolute;
  top: 5rem;
  left: 20%;
  z-index: 100;
  text-align: center;

  color: azure;
  font-size: 3rem;
}

.position {
  position: absolute;
  top: 8.5rem;
  left: 24%;
  z-index: 100;
  text-align: center;

  color: rgb(158, 243, 237);
  font-size: 1.5rem;
}
