.card {
  flex-direction: column;
  margin: auto;
  /* margin-bottom: 1rem; */
  text-align: center;
  display: flex;
  background-color: rgb(154, 154, 154);
  width: 80vw;
  border-radius: 5rem 5rem;
}