.portrait {
  width: 50%;
  border-radius: 0% 0% 20% 20%;
}

.profile {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column-reverse;
    }
}